{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"browsers": [
						"last 2 Chrome major versions",
						"ie > 10"
					]
				},
				"modules": false
			}
		]
	],
	"plugins": [
		[
			"@babel/plugin-proposal-object-rest-spread"
		]
	],
	"comments": false,
	"sourceType": "module"
}
